<ion-view view-title="Opciones">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  	<ion-content class="has-header" padding="10">
  		<h2 class="title">{{encuesta.name}}</h2>
      <div class="list">
        <ion-radio ng-repeat="o in encuesta.options" ng-model="data.choice" ng-value="o.id">
          {{o.name}}
        </ion-radio>
  		</div>
      <button class="button button-full button-assertive" ng-click="vote()" ng-if="data.choice">Votar</button>
  	</ion-content>
</ion-view>