<ion-view view-title="Encuestas">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="list">
        <!--ng-repeat por cada e en encuestas (variable que enviamos desde controlles a traves del servicio $scope-->
  			<a class="item item-icon-left item-icon-right" ng-repeat="e in encuestas" href="#/app/encuesta/{{e.id}}">
  				<i class="icon {{e.icon}}" ></i>
  				{{e.name}}
  				<i class="icon ion-ios-arrow-forward"></i>
  			</a>
  		</div>
  	</ion-content>
</ion-view>