.bar.bar-footer-menu
{
	height: 72px !important;
}
.bg-gray-555
{
	background: #555555 !important;
}
.has-footer-menu
{
	bottom: 73px !important;
}
.has-header-menu 
{
  top: 73px !important;
}
.icon-1x
{
	font-size: 1em;
}
.icon-2x
{
	font-size: 2em;
}
.item-avatar-menu
{
	width: 100% !important;
}
.item-avatar-square
{
	border-radius: 0 !important;
}
.item-menu-footer
{
	background: transparent !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
	border-top: 2px rgba(183,183,183,0.5) solid !important;
	margin: 0 !important; 
	text-align: center !important;
}
.item-menu-header
{
	background: transparent !important;
	border-bottom: 2px rgba(183,183,183,0.5) solid !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	margin: 0; 
}
.item-no-border
{
	border: none !important;
}
.margin-right-x
{
	margin-right: 10px;
}
.menu .bar-header
{
	min-height: 72px;
}
.menu-polls
{
	color: #ffffff !important;
	font-size: 1.5em !important;
}
.item-complex .item-content
{
	background:transparent; 
}
.item-complex .item-content.activated
{
	border:none;
	background: rgba(228, 32, 18, 0.5);  
}
.no-border
{
	border:none !important; 
}
.no-margin
{
	margin:0px !important; 
}
.no-padding
{
	padding: 0 !important;
}
.bg-transparent
{
	background:transparent !important; 
}
.white /*white color*/
{
	color:#FFFFFF !important;
}
.white-05
{
	color: rgba(255,255,255,0.6) !important;
}
